@import '../../../../styles/cards.scss';

// .card {
//   border: 1px solid #e1e1e1;
//   border-radius: 8px;
//   overflow: hidden;
//   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
// }

// .card-header {
//   display: flex;
//   align-items: center;
//   padding: 10px;
//   background-color: #e6f6fd;
// }

// .card-body {
//   padding: 10px;
// }

  
.Teams-content {
  max-height: '500px'; 
  overflow: 'auto'; 
  height: '245px';
  // padding: 10px;
  // overflow-y: auto;
  margin: 5px;
  width: 96%;
  margin-right: 10px;
  scrollbar-width: thin;
}

.chatItem {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.userPhoto {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.chatDetails {
  flex-grow: 1;
}

.senderName {
  font-weight: bold;
}

.chatSnippet {
  color: #666;
}

.chatTime {
  white-space: nowrap;
}

.message {
  margin-bottom: 15px;
}

.messageHeader {
  display: flex;
  align-items: center;
}

.messageBody {
  margin-left: 50px;
  margin-top: 5px;
}

.messageTime {
  margin-left: auto;
  font-size: 0.85em;
  color: #666;
}


.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}


.error {
  color: red;
}
