@import '../../../../styles/cards.scss';

// .card {
//   box-shadow: rgba(14, 30, 37, 0) 0px 1px 2px 0px, rgba(14, 30, 37, 0.16) 0px 1px 8px 0px;
//   margin: 20px;
//   padding: 20px;
// }

// .cardHeader {
//   background-color: #e6f6fd;
//   padding: 10px;
//   font-size: 20px;
//   font-weight: bold;
//   display: flex;
//   align-items: center;
// }

// .icon {
//   margin-right: 10px;
// }

// .cardBody {
//   padding: 20px;
// }

.announcement {
  margin-bottom: 20px;
  width: 100%;
}

.productLaunch {
  font-size: 16px;
  font-weight: bold;
  color: #353d54;
  text-align: center;
  z-index: 1;
}

.Description{
  text-align: start;
  margin: 10px;
  font-size: small;
}

.medizee {
  align-items: center;
}

.Announcement-content {
  max-height: '500px'; 
  //overflow: 'auto';
  overflow-y: auto;
  overflow-x: hidden; 
  height: '245px';
  // padding: 10px;
  // overflow-y: auto;
  margin: 5px;
  width: 96%;
  margin-right: 10px;
  scrollbar-width: thin;
}


.image {
  height: 175px;
    margin: 5px 5px 0px 5px;
    max-height: 200px;
    object-fit: cover;
    width: 98%;
    max-width: 500px;

  }

.checkItOutButton {
  display: inline-block;
  margin-top: 10px;
  padding: 2px 3px;
  background-color: #0078d4;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  height: 35px;
    width: 70px;
    font-size: smaller;
    text-align: center;
}

.error {
  color: red;
}

.separator{
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  margin: 20px 0;
}






.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown {
  position: absolute;
  right: 0;
  top: 100%;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 9999; /* Increased z-index */
}

.dropdownItem {
  padding: 8px 16px;
  cursor: pointer;
}

.listView .image {
  display: none;
}

.cardView .image {
  display: block;
}


/* Other existing styles */

.textWrapper {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}














