.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e6f6fd;
    padding: 10px 15px;
  }
  
  .headerLeft {
    display: flex;
    align-items: center;
  }
  
  .headerIcon {
    font-size: 24px;
    margin-right: 10px;
  }
  
  .headerTitle {
    font-size: 20px;
    font-weight: normal;
  }
  
  .searchContainer {
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 1px;
  }
  
  .searchInput {
    border: none;
    outline: none;
    padding: 5px;
    font-size: small;
  }
  
  .searchIcon {
    color: #999;
    margin-left: 5px;
  }
  
  .cardBody {
    padding: 10px;
    max-height: 200px; // Adjust as needed
    overflow-y: auto;
  }
  
  .userCard {
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .userImage img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
  }
  
  .profileImage {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  
  .userInfo {
    flex: 1;
    margin-left: 15px;
    width: 50%;
  }
  
  .userName {
    font-size: 16px;
    font-weight: bold;
  }
  
  .userDetails {
    font-size: 14px;
    color: #555;
  }
  
  .popoverContent {
    padding: 10px;
    width: 300px;
  }
  
  .popoverHeader {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .popoverSection {
    margin-bottom: 10px;
  }
  
  .popoverSectionTitle {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .popoverSectionItem {
    font-size: 14px;
    margin-bottom: 3px;
  }
  