@import '../../../../styles/cards.scss';



// .cardHeader {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     background-color: #e6f6fd;
//     padding: 10px 15px;
//   }

  
  .headerLeft {
    display: flex;
    align-items: center;
  }
  
  .headerIcon {
    font-size: 24px;
    margin-right: 10px;
  }
  
  .headerTitle {
    font-size: 20px;
    font-weight: normal;
  }
  
  .searchContainer {
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 1px;
  }
  
  .searchInput {
    border: none;
    outline: none;
    padding: 5px;
    font-size: small;
  }
  
  .searchIcon {
    color: #999;
    margin-left: 5px;
    cursor: pointer;
  }
  
  .cardBody {
    padding: 10px;
    max-height: 200px; // Adjust as needed
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .staff-directory-content {
    max-height: '500px'; 
    overflow: 'auto'; 
    height: '245px';
    // padding: 10px;
    // overflow-y: auto;
    margin: 5px;
    width: auto;
    margin-right: 10px;
    scrollbar-width: thin;
  }
  
  .userCard {
    margin-bottom: 10px;
    cursor: pointer;
    border: solid;
    border-width: 0.5px;
    border-radius: 5px;
    border-color: #ccc;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    height: 200px;
  }
  
  .userImage img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
  }
  
  .profileImage {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  
  .userInfo {
    flex: 1;
    margin-left: 15px;
    width: 50%;
  }
  
  .userName {
    font-size: 16px;
    font-weight: bold;
  }
  
  .userDetails {
    font-size: 14px;
    color: #555;
  }
  
  .popoverContent {
    padding: 10px;
    width: 300px;
  }
  
  .popoverHeader {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .popoverSection {
    margin-bottom: 10px;
  }
  
  .popoverSectionTitle {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .popoverSectionItem {
    font-size: 14px;
    margin-bottom: 3px;
  }
  

  .profile-image {
    width: 50;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-top: 10px;
   
  }


  .details{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    align-content: flex-start;
    margin-left: 5px;
  }
  
  
  .title{
    color: black;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 5px;
    width: auto;
  
  }
  
  .subtitle{
    font-size: 12px;
    color: grey;
    margin-bottom: 5px;
    letter-spacing: 1px;
    font-weight: 200;
    width: auto;
  }