@import '../../../../styles/cards.scss';

.event {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.eventColor1 {
  background-color: #FFFFFD; 
}

.eventColor2 {
  background-color: #B6B4B5;
}

.eventColor3 {
  background-color: #FFFFFD;
}

.eventColor4 {
  background-color: #B6B4B5;
}
  
.Anniversary-content {
  max-height: 300px; 
  overflow: auto; 
  height: 290px;
  margin: 0px 10px 5px 10px;
  width: 96%;
  //margin-right: 10px;
  scrollbar-width: thin;
}

.date {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #6C6D6F;
  color: white;
  padding: 10px;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.day {
  font-size: 18px;
  font-weight: bold;
}

.month {
  font-size: 14px;
}

.details {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 16px;
  font-weight: bold;
}

.venue {
  font-size: 14px;
  color: gray;
}

.designation {
  font-size: 14px;
  color: #555;
}

.time {
  font-size: 14px;
  color: gray;
}

.today {
  animation: anniversaryAnimation 2s infinite;
}

@keyframes anniversaryAnimation {
  0% {
    background-color: #D9CB8C;
  }
  50% {
    background-color: #ECE5C5;
  }
  100% {
    background-color: #ffe066;
  }
}

.error {
  color: red;
}
