@import '~@fluentui/react/dist/sass/References.scss';

@import '../../../../styles/cards.scss';


$headerBorderColor: #ed1b24; /* #cc0000; #be1f2e; */ 
$headerDarkColor: #01A4EF; /* #00263a */
$themeColor3: #f47920;
$themeColor4: #e0e1e2;

.launcher {
  height: 380px;
  display: flex;
  flex-direction: column;
  border-radius: 0;
  box-shadow: 0px 1px 5px 1px #c8c6c4;
  overflow: hidden;
}

.header {
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.launcherTitle {
  padding-right: 55px;
}

// .MApp-content {
//   max-height: '500px'; 
//   overflow: 'auto'; 
//   height: '245px';
//   // padding: 10px;
//   // overflow-y: auto;
//   margin: 5px;
//   width: 96%;
//   margin-right: 10px;
//   scrollbar-width: thin;
// }

.content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.iconGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
  width: 100%;
  height: 95%;
  max-height: 275px;
  padding: 5px;
  overflow: auto;
}

.iconLink {
  height: 64px;
    width: 64px;
    margin: 13px;
  background-size: cover;
  background-position: center;
}


.grid-holder{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}