@import '~@fluentui/react/dist/sass/References.scss';

@import '../../styles/cards.scss';

.chatbot {
  overflow: hidden;
  padding: 1em;
 
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }

  border: none;
}

// .container{
//   border: none;
// }

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px; // Adjust this value to control how close to the top the banner appears
  height: 100vh;
  width: 100%;
  min-height: 100vh;
}



.sendButton {
  font-size: 0.8rem;
  padding: 0.25rem 0.5rem;
  margin: 5px;
  background-color: white;
  // border-color: #04a4ec;
  border-radius: 5px;
  border: none;
  width: 50px;
  align-self: flex-end;
}

.spinner{
  padding: 0.25rem 0.5rem;
  margin: 5px;
  align-self: flex-end;


}

.input{
  background-color: white;
  border: none;
  border-radius: 10px;
  margin: 5px;
 
}

input:focus {
  outline: none;
}

.metaIcon{
  width: 15px;
  height: 15px;
  align-self: center;
  margin-right: 5px;
}


.custom-btn-group {
  display: flex;
  justify-content: center; /* Centers the button group horizontally */
  margin: 0 auto; /* Adds automatic left and right margins */
  max-width: 300px; /* Optional: Limits the width of the button group */
}

.btn-group .btn {
  font-size: 12px; /* Makes the buttons' text smaller */
  padding: 5px 10px; /* Adjusts padding for a smaller button size */
}

.btn-group {
  align-self: center;
  justify-self: center;
}


.banner{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 50px;  
  margin-bottom: 50px;

}

.input-card{
  width: 70%;
  align-self: center;
  border-bottom: 1px solid purple;

}

.button-card{
  display: flex;
  margin: 32px;
  background-color: white;
  // padding: 2px;
  width: auto;
  justify-self: center;
  align-self: center;
  // border: solid 1px;
  justify-content: center;
}

.carousel{
  align-self: center;
  justify-self: center;
}


.temperatureButton {
  font-size: 0.8rem;
  padding: 0.25rem 0.5rem;
  margin: 1px;
  background-color: white;
  // border-color: white;
  border-radius: 5px;
  border: none;
  color: black;
  width: 70px;
  align-self: flex-end;
}



.clearChat {
  
  // font-size: 0.8rem;
  padding: 0;
  margin: 5px;
  // background-color: #04a4ec;
  // border-color: #04a4ec;
  border-radius: 50%;
  border: none;
  color: white;
  width: 40px;
  height: 40px;
  align-self: flex-start;
  display: flex;
  justify-content: center;
  align-items: center;
}