@import '~@fluentui/react/dist/sass/References.scss';

@import '../../styles/cards.scss';

.chatbot {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }

  border: none;
}

.container{
  border: none;
}

.welcome {
  text-align: center;
}

.welcomeImage {
  width: 100%;
  max-width: 420px;
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}


.card{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 50vw;
  height: auto;
  box-sizing: border-box;
  background: white;
  position: relative;
  box-shadow: rgba(14, 30, 37, 0) 0px 1px 2px 0px,
  rgba(14, 30, 37, 0.16) 0px 1px 8px 0px;

  z-index: 2;
  transform-style: preserve-3d;
  border-radius: 10px;

  position: sticky;
  bottom: 0;
}

.sendButton {
  font-size: 0.8rem;
  padding: 0.25rem 0.5rem;
  margin: 5px;
  background-color: #04a4ec;
  border-color: #04a4ec;
  border-radius: 5px;
  border: none;
  color: white;
  width: 50px;
  align-self: flex-end;
}

.spinner{
  padding: 0.25rem 0.5rem;
  margin: 5px;
  align-self: flex-end;


}

.input{
  background-color: white;
  border: none;
  border-radius: 10px;
  margin: 5px;
 
}

input:focus {
  outline: none;
}